.card {
  border: 1px solid #ddd;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  max-height: 270px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-title {
  font-size: 1.5rem;
  margin-bottom: 8px;
}

.card-description {
  font-size: 1rem;
  margin-bottom: 8px;
  min-height: 74px;
  max-width: 350px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-date,
.card-organizer {
  font-size: 0.9rem;
  color: #555;
  margin-bottom: 4px;
}

.button-container {
  display: flex;
  gap: 8px;
  margin-top: 8px;
}
